@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
    font-family: 'Raleway', sans-serif;
    --main-color: rgb(204, 10, 29);
    --accent-color: white;
}

body {
    min-width: 300px;
    max-width: 950px;
    margin: auto;
    background-color: rgb(255, 239, 250)
}
header {
    max-width: 950px;
    padding: 0.5em;
}
header .banner {
    background-image: url(../img/food.jpg);
    background-position: center;
    background-size: cover;
    min-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.1em;
    max-width: 100%;
}

header .banner .name {
    font-family: 'Major Mono Display', monospace;
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    color: #f44242
    
}

header .menu {
    display: flex;
    justify-content: space-around;
    padding: 0.2em; 
}

header .menu li {
    list-style-type: none;
}

header .menu li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(204, 10, 29);
}

header .menu li a:hover {
    text-decoration: underline;
}
    
@media (max-width: 500px) {
header .banner h1 { 
        display: flex ;
        font-size: 2.75rem;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
}

header .baner p {
    
    font-size: 1rem;
    margin: 0 auto;
}

header .banner {
    margin: 0 auto;
}

header nav .menu {
    align-items: center;
    flex-wrap: wrap;
}
}


main {
    margin: 0 auto;
    padding: 0.5em;
}
main #about_me {
    display: block;
    justify-content: center;
}
main #about_me h2 {
    text-align: center;
    font-size: 1.75em;
    color: #770535;
}
main #about_me p {
    text-align: justify;
    font-size: 1.2em;
    color: black;
}
main #recipes .recipes {
    display: block;
    justify-content: center;
}
main #recipes .recipes h2{
    text-align: center;
    font-size: 1.75em;
    color:  #660000;
}
main #recipes .desserts{
    display: block;
    align-items: center;
    margin: 0 auto;
}
main #recipes .desserts .gingerbread_cupcakes{
    text-align: justify;
    font-size: 1.15em;
    color: black;
}
main #recipes .desserts .gingerbread_cupcakes h3 {
    text-align: center;
    font-size: 1.23em;
    color: #770535;
}
main #recipes .desserts .gingerbread_cupcakes img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
main #recipes .desserts .gooey_oreo_cookie_cookies{
    text-align: justify;
    font-size: 1.15em;
    color: black;
}
main #recipes .desserts .gooey_oreo_cookie_cookies h3{
    text-align: center;
    font-size: 1.23em;
    color: #770535;
}
main #recipes .desserts .gooey_oreo_cookie_cookies img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}
main #feedback {
    display: block;
    justify-content: center;   
}
main #feedback h2{
    text-align: center;
    font-size: 1.75em;
    color: #770535;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #790000;
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #ff0000;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #e81452;
}
.container {
  border-radius: 5px;
  background-color: #ec8383;
  padding: 20px;
}

@media (max-width: 450px) {
  main #about_me h2 {
    text-align: center;
    font-size: 1.2em;
    color: #770535;
}
main #about_me p {
    text-align: justify;
    font-size: 0.75em;
    color: black;
}
main #recipes .recipes {
    display: block;
    justify-content: center;
}
main #recipes .recipes h2{
    text-align: center;
    font-size: 1.2em;
    color:  #660000;
}
main #recipes .desserts{
    display: block;
    align-items: center;
    margin: 0 auto;
}
main #recipes .desserts .gingerbread_cupcakes{
    text-align: justify;
    font-size: 0.85em;
    color: black;
}
main #recipes .desserts .gingerbread_cupcakes h3 {
    text-align: center;
    font-size: 1.1em;
    color: #770535;
}
main #recipes .desserts .gooey_oreo_cookie_cookies{
    text-align: justify;
    font-size: 0.85em;
    color: black;
}
main #recipes .desserts .gooey_oreo_cookie_cookies h3{
    text-align: center;
    font-size: 1.1em;
    color: #770535;
}
main #feedback {
    display: block;
    justify-content: center;   
}
main #feedback h2{
    text-align: center;
    font-size: 1.1em;
    color: #770535;
}  
input[type=text], select, textarea {
  width: 100%; 
  padding: 6px;   
  border: 0.5px solid #790000; 
  border-radius: 2px; 
  box-sizing: border-box; 
  margin-top: 3px; 
  margin-bottom: 8px; 
  resize: vertical; 
}
input[type=submit] {
  background-color: #ff0000;
  color: #ffffff;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #e81452;
}
.container {
  border-radius: 3px;
  background-color: #ec8383;
  padding: 10px;
}
}